body {
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/txture.png");
}

.loading {
  color: white;
  font-size: larger;
}

.all-topics {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 40px;
  color: white;
  font-size: 30px;
}

.topics {
  color: rgb(245, 144, 114);
}

.topic-article {
  color: white;
  text-align: center;
}

.topic-header {
  text-transform: capitalize;
  text-align: center;
  margin-top: 100px;
  color: white;
}

.full-article {
  color: white;
  text-align: center;
}

.votes {
  border: 1px;
  color: white;
}
.each-comment {
  padding: 15px;
  border: 1px solid #e3e3e3;
  margin: auto;
  width: 70%;
  color: white;
  margin-bottom: 20px;
  margin-top: 10px;
}

.submit {
  border-color: rgb(245, 144, 114);
}

.sort-articles-by {
  color: white;
}

.drop-down {
  margin-left: 180px;
  color: white;
}

.topic-name {
  text-align: right;
}
